* {
	border: 0px;
	padding: 0px;
	margin: 0px;
}

#grid {
	display: inline-flex;
	flex-direction: column;
	margin: 10px;
	border: solid black;
}

.row {
	display: flex;
}

.square {
	/* border: solid black 1px; */
	width: 10px;
	height: 10px;
	background-color: rgb(255, 255, 255);
}

#gridSize {
	border: solid black;
	padding: 5px 10px;
	border-radius: 10px;
	margin: 10px;
	margin-bottom: 0px;
	display: block;
}
